<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="border: 1px solid #dedede">
        <h2>Articles</h2>
        <a href="/articles/new" class="btn btn-success">Create an Article</a>
        <div class="card">
            <div class="" style="border: 1px solid #dedede">
                <% articles.forEach((article) => { %>
                    <div class="card-body m-3">
                        <h4 name='title' class="card-title"><%= article.title %></h1>
                        <div class="card-subtitle">
                            <label for="title"><%= article.createdAt.toLocaleDateString('de-DE') %></label>
                        </div>
    
                        <p><%= article.description %></p>
                        <p><%- article.sanitizedHtml %></p>
                    </div>
                    <div class="container mb-3">
                        <a class="btn btn-primary" href="/articles/<%= article.slug %>">Edit</a>
                        <form class="d-inline" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </div>
            <% }) %>
            </div>
    
        </div>
        </div>
</body>
</html>